@import url('https://fonts.cdnfonts.com/css/satoshi');                
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Satoshi', sans-serif;
}
.btn{
    font-family: "Sarina", cursive;
    font-weight: 400;
    font-style: normal;
  }
#tip > div{
display: flex;
align-items: center;
padding-left: 60px;
font-weight: 300;
color: #001F3F;
}
#tips{
  padding-left: 5px;
}
